main {
  min-height: 100vh;
  max-width: 1200px;
  padding: 10vh 10vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title svg {
  height: 16vh;
}
.description {
  width: 50%;
}

p {
  margin: 1rem 0;

  font-size: 1.2rem;
}

p a {
  font-weight: 600;
  color: var(--red);
}

i {
  padding: 1rem 0;
}

.container {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 24%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bouton {
  margin: 0;
}
